ErrorDocument 404     /404.html

RewriteEngine on
# Redirect from http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect from sidorenko.io to www.sidorenko.io
RewriteCond %{HTTP_HOST} ^sidorenko.io [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301,NC]

# Add HSTS headers to the https connections
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains" env=HTTPS

# Redirect of some old urls
Redirect 301 /atom.xml /post/index.xml
Redirect 301 /blog/archives/ /post/
Redirect 301 /blog/2010/10/21/how-to-setup-the-link-timeout-on-the-hbas-on-the-esx/ /post/2010/10/how-to-setup-the-link-timeout-on-the-hbas-on-the-esx/
Redirect 301 /blog/2010/10/21/how-to-determine-the-switch-port-with-tcpdump/ /post/2010/10/how-to-determine-the-switch-port-with-tcpdump/
Redirect 301 /blog/2010/10/21/how-to-edit-initrd-image/ /post/2010/10/how-to-edit-initrd-image/
Redirect 301 /blog/2010/10/21/using-native-sata-on-systems-with-ide-emulation/ /post/2010/10/using-native-sata-on-systems-with-ide-emulation/
Redirect 301 /blog/2010/10/22/how-to-use-the-correct-interface-for-kickstart-installations/ /post/2010/10/how-to-use-the-correct-interface-for-kickstart-installations/
Redirect 301 /blog/2010/11/04/vsphere-client-cli-options/ /post/2010/11/vsphere-client-cli-options/
Redirect 301 /blog/2010/11/08/workaround-for-anaconda-network-timeouts-and-spanning-tree-with-kickstart-installations/ /post/2010/11/workaround-for-anaconda-network-timeouts-and-spanning-tree-with-kickstart-installations/
Redirect 301 /blog/2011/01/04/how-to-wireshark-with-user-rights/ /post/2011/01/how-to-wireshark-with-user-rights/
Redirect 301 /blog/2011/04/25/using-bind-from-ports/ /post/2011/04/using-bind-from-ports/
Redirect 301 /blog/2011/04/25/how-to-batch-delete-old-files-after-installworld/ /post/2011/04/how-to-batch-delete-old-files-after-installworld/
Redirect 301 /blog/2011/04/27/how-to-activate-privacy-extensions-by-ipv6/ /post/2011/04/how-to-activate-privacy-extensions-with-ipv6/
Redirect 301 /blog/2011/04/27/how-to-root-htc-desire/ /2011/04/how-to-root-htc-desire/
Redirect 301 /blog/2011/06/28/how-to-get-root-on-samsung-galaxy-s-ii-i9100/ /post/2011/06/how-to-get-root-on-samsung-galaxy-s-ii-i9100/
Redirect 301 /blog/2011/07/14/how-to-root-htc-desire-s/ /post/2011/07/how-to-root-htc-desire-s/
Redirect 301 /blog/2012/01/29/problems-with-p4-clockmod-and-cpu-frequency-scaling/ /post/2012/01/problems-with-p4-clockmod-and-cpu-frequency-scaling/
Redirect 301 /blog/2012/01/29/authentication-with-one-time-passwords/ /post/2012/01/authentication-with-one-time-passwords/
Redirect 301 /blog/2012/01/29/using-one-time-password-with-apache/ /post/2012/01/using-one-time-password-with-apache/
Redirect 301 /blog/2012/03/02/how-to-access-mssql-from-php-via-odbc/ /post/2012/03/how-to-access-mssql-from-php-via-odbc/
Redirect 301 /blog/2012/03/07/drbd-recovery-from-split-brain/ /post/2012/03/drbd-recovery-from-split-brain/
Redirect 301 /blog/2012/04/05/how-to-create-vmfs-partition-on-the-local-disk-without-label/ /post/2012/04/how-to-create-vmfs-partition-on-the-local-disk-without-label/
Redirect 301 /blog/2012/04/16/flashing-clockmod-recovery-on-samsung-galaxy-s-ii-i9100/ /post/2012/04/flashing-clockmod-recovery-on-samsung-galaxy-s-ii-i9100/
Redirect 301 /blog/2012/04/20/how-to-build-apc-or-eaccelerator-for-php-on-windows/ /post/2012/04/how-to-build-apc-or-eaccelerator-for-php-on-windows/
Redirect 301 /blog/2012/05/16/how-to-backup-mysql/ /post/2012/05/how-to-backup-mysql/
Redirect 301 /blog/2012/07/11/how-to-root-galaxy-tab-2-10-dot-1-with-heimdall/ /post/2012/07/how-to-root-galaxy-tab-2-10.1-with-heimdall/
Redirect 301 /blog/2012/12/30/flashing-android-4-on-samsung-galaxy-s-ii-with-heimdall/ /post/2012/12/flashing-android-4-on-samsung-galaxy-s-ii-with-heimdall/
