ErrorDocument 404     /404.html

RewriteEngine on
# Redirect from http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect from sidorenko.io to www.sidorenko.io
RewriteCond %{HTTP_HOST} ^sidorenko.io [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301,NC]

# Add HSTS headers to the https connections
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains" env=HTTPS

# Redirect of some old urls
Redirect 301 /atom.xml /post/index.xml
Redirect 301 /blog/archives/ /post/
Redirect 301 /blog/2010/10/21/how-to-setup-the-link-timeout-on-the-hbas-on-the-esx/ /post/2010/10/how-to-setup-the-link-timeout-on-the-hbas-on-the-esx/
Redirect 301 /blog/2010/10/21/how-to-determine-the-switch-port-with-tcpdump/ /post/2010/10/how-to-determine-the-switch-port-with-tcpdump/
Redirect 301 /blog/2010/10/21/how-to-edit-initrd-image/ /post/2010/10/how-to-edit-initrd-image/
Redirect 301 /blog/2010/10/21/using-native-sata-on-systems-with-ide-emulation/ /post/2010/10/using-native-sata-on-systems-with-ide-emulation/
Redirect 301 /blog/2010/10/22/how-to-use-the-correct-interface-for-kickstart-installations/ /post/2010/10/how-to-use-the-correct-interface-for-kickstart-installations/
Redirect 301 /blog/2010/11/04/vsphere-client-cli-options/ /post/2010/11/vsphere-client-cli-options/
Redirect 301 /blog/2010/11/08/workaround-for-anaconda-network-timeouts-and-spanning-tree-with-kickstart-installations/ /post/2010/11/workaround-for-anaconda-network-timeouts-and-spanning-tree-with-kickstart-installations/
Redirect 301 /blog/2011/01/04/how-to-wireshark-with-user-rights/ /post/2011/01/how-to-wireshark-with-user-rights/
Redirect 301 /blog/2011/04/25/using-bind-from-ports/ /post/2011/04/using-bind-from-ports/
Redirect 301 /blog/2011/04/25/how-to-batch-delete-old-files-after-installworld/ /post/2011/04/how-to-batch-delete-old-files-after-installworld/
Redirect 301 /blog/2011/04/27/how-to-activate-privacy-extensions-by-ipv6/ /post/2011/04/how-to-activate-privacy-extensions-with-ipv6/
Redirect 301 /blog/2011/04/27/how-to-root-htc-desire/ /2011/04/how-to-root-htc-desire/
Redirect 301 /blog/2011/06/28/how-to-get-root-on-samsung-galaxy-s-ii-i9100/ /post/2011/06/how-to-get-root-on-samsung-galaxy-s-ii-i9100/
Redirect 301 /blog/2011/07/14/how-to-root-htc-desire-s/ /post/2011/07/how-to-root-htc-desire-s/
