ErrorDocument 404     /404.html

# Redirect of some old urls
Redirect 301 /atom.xml /post/index.xml

RewriteEngine on
# Redirect from http to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect from sidorenko.io to www.sidorenko.io
RewriteCond %{HTTP_HOST} ^sidorenko.io [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301,NC]

# Add HSTS headers to the https connections
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains" env=HTTPS
